body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

nav ul {
  font-family: sans-serif;
}

h1.logo {
  text-transform: uppercase;
}

main.wrapper {
  background-color: #eee8d5;
}

h2#contents {
  color: #93a1a1;
}

h2#favs {
  color: #93a1a1;
}

h2#facts {
  color: #93a1a1;
}

h2#types {
  color: #93a1a1;
}

div > .dfn {
  background-color: #b58900;
}

main > .dfn strong {
  color: #fff;
}

html > header.logo mark {
  background-color: #719e07;
}

.contents [href^="http://en.wikipedia.org/wiki/Fruit"] {
  background-color: #2694d8;
}

ol li:first-child {
  color: #719e47;
}

ol li:last-child {
  color: #2aa198;
}

.types li:nth-child(odd) {
  background-color: #657ba3;
}

.types li:nth-child(2n) {
  background-color: #586e75;
}

.types li:nth-child(3n) {
  background-color: #d04b16;
}
